Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2020-10, with the labels that each got.

#378 Handle errors properly when banning users via modbutton
  extension/data/modules/modbutton.js
  extension/data/tbapi.js
Labels: bug, module: modbutton

#370 Remove metrics tab module
  extension/data/modules/metricstab.js
  extension/data/styles/toolbox.css
  extension/manifest.json
Labels: needs public docs

#382 fix(ContextPopup): reorder actions to match modqueue
  extension/data/tbui.js
Labels: core: tbui, enhancement

#384 feat(Modmail): User-friendly permalink
  extension/data/modules/usernotes.js
  extension/data/tbcore.js
Labels: enhancement, module: usernotes

#383 feat(Modbutton): Display char limit error on reason and duration
  extension/data/modules/modbutton.js
Labels: enhancement, module: modbutton

#385 Fix duplicate buttons on old reddit
  extension/data/modules/oldreddit.js
Labels: bug

#391 Fix selectors for "Send Modmail" modbutton tab
  extension/data/modules/modbutton.js
Labels: bug, module: modbutton

#223 Usernotes manager rework
  extension/data/modules/usernotes.js
  extension/data/styles/tbui.css
  extension/data/tbui.js
Labels: bug, code quality, module: usernotes, needs public docs, performance

#387 Optimize watchPushState on old Reddit
  extension/data/background/handlers/url_changed.js
  extension/data/tbcore.js
  extension/manifest.json
Labels: hacktoberfest-accepted, performance

#393 Handle inaccessible things in context popup
  extension/data/modules/comment.js
Labels: bug, module: comment

#392 More consistent styles for modbutton
  extension/data/styles/toolbox.css
Labels: enhancement, module: modbutton

#394 Custom pages for syntax highlighter
  extension/data/modules/syntax.js
Labels: enhancement, hacktoberfest-accepted, module: syntax

#395 Move hash based actions to be event triggered
  extension/data/modules/modbar.js
  extension/data/tbcore.js
  extension/data/tbhelpers.js
Labels: code quality

#380 Unify window style
  extension/data/modules/modbar.js
  extension/data/modules/modbutton.js
  extension/data/modules/profile.js
  extension/data/modules/usernotes.js
  extension/data/styles/historybutton.css
  extension/data/styles/modbar.css
  extension/data/styles/newmodmailpro.css
  extension/data/styles/personalnotes.css
  extension/data/styles/profile.css
  extension/data/styles/queue_overlay.css
  extension/data/styles/tbui.css
  extension/data/styles/toolbox.css
  extension/data/styles/usernotes.css
  extension/data/tbui.js
Labels: code quality

#397 Make profile overlay search accessible via URL options fixes #388
  extension/data/modules/profile.js
Labels: enhancement, module: profile, needs public docs
