Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2020-09, with the labels that each got.

#359 fix(RR): Don't send as modmail if only PM is selected
  extension/data/modules/removalreasons.js
Labels: bug, module: removalreasons

#356 increase moderated subreddits popup width
  extension/data/styles/modbar.css
Labels: bug, core: modbar

#357 feat(Modbar): add tooltip to subreddit names
  extension/data/modules/modbar.js
Labels: core: modbar, enhancement

#361 Fix `okOnly` requests and correctly handle errors when editing AutoModerator configuration
  extension/data/background/handlers/webrequest.js
  extension/data/modules/config.js
  extension/data/tbapi.js
Labels: bug, core: tbapi, module: config

#362 fix(Modmacro): every context to true when undefined
  extension/data/modules/config.js
Labels: bug, module: config

#365 fix(RR): Remove reasonAsSub from advanced
  extension/data/modules/removalreasons.js
Labels: module: removalreasons

#368 Misc. Deepscan fixes
  extension/data/modules/config.js
  extension/data/modules/domaintagger.js
  extension/data/modules/flyingsnoo.js
  extension/data/tbstorage.js
Labels: bug, code quality, core: tbstorage, module: config, module: domaintagger, module: flyingsnoo

#367 fix(RR): Reverts textarea set from placeholder attribute
  extension/data/modules/removalreasons.js
  extension/data/styles/removalreasons.css
Labels: bug, module: removalreasons

#369 Clarify mod button message feature sends modmail
  extension/data/modules/modbutton.js
Labels: bug, module: modbutton, needs public docs

#374 Fix queuetools score sort for large scores
  extension/data/modules/queuetools.js
Labels: bug, module: queuetools
