Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2020-02, with the labels that each got.

#212 Add comment keybind to automod/CSS editors
  extension/data/libs/codemirror/addon/comment.js
  extension/data/modules/config.js
  extension/data/modules/syntax.js
Labels: enhancement, module: syntax

#213 Convert remaining `chrome.*` calls to `browser.*`
  .eslintrc.json
  extension/data/modules/flyingsnoo.js
  extension/data/modules/notifier.js
  extension/data/tbapi.js
  extension/data/tbcore.js
  extension/data/tbstorage.js
  extension/data/tbui.js
Labels: code quality

#224 feat(RR): Per post/comment RRs
  extension/data/modules/config.js
  extension/data/modules/removalreasons.js
Labels: enhancement, module: removalreasons

#236 feat(QueueTools): Added indeterminate select-all checkbox
  extension/data/modules/queuetools.js
Labels: enhancement

#235 fix(UserNotes): Wrap on resize
  extension/data/modules/usernotes.js
  extension/data/styles/usernotes.css
Labels: enhancement, module: usernotes

#233 feat(Config): Subreddit removal reason settings
  extension/data/modules/config.js
  extension/data/modules/removalreasons.js
  extension/data/styles/removalreasons.css
Labels: enhancement, module: removalreasons

#238 Better centering of window/dialog titles
  extension/data/modules/personalnotes.js
  extension/data/styles/tbui.css
  extension/data/tbui.js
Labels: core: tbui, enhancement
