Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2020-12, with the labels that each got.

#424 Use $.data() less
  extension/data/modules/config.js
  extension/data/modules/domaintagger.js
  extension/data/modules/modmailpro.js
  extension/data/tbcore.js
Labels: bug, code quality

#425 Fix callback/return logic in a couple spots
  extension/data/modules/macros.js
  extension/data/tbcore.js
Labels: bug, code quality

#418 Added support for flair template IDs to the mod button and removal reasons
  extension/data/modules/config.js
  extension/data/modules/modbutton.js
  extension/data/modules/removalreasons.js
  extension/data/styles/config.css
  extension/data/tbapi.js
Labels: enhancement, module: modbutton, module: removalreasons, needs api docs

#426 Fix usernotes manager buttons not working
  extension/data/modules/usernotes.js
Labels: bug, module: usernotes
