Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2020-05, with the labels that each got.

#304 fix(RR): Show comment reasons in new Reddit
  extension/data/modules/removalreasons.js
Labels: bug, module: removalreasons

#288 feat: Macro per type
  extension/data/modules/config.js
  extension/data/modules/macros.js
  extension/data/styles/config.css
Labels: enhancement, module: macros

#299 NewModMailPro: Feature to check for new activity before submitting a reply
  extension/data/modules/newmodmailpro.js
  extension/data/styles/newmodmailpro.css
Labels: enhancement, module: new modmailpro, needs public docs

#305 Support placeholder, label, value attributes in removal reasons
  extension/data/modules/removalreasons.js
  extension/data/styles/removalreasons.css
Labels: enhancement, module: removalreasons, needs public docs
