Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2021-07, with the labels that each got.

#480 Add preview rendering to macro input fixes #479
  extension/data/modules/macros.js
  extension/data/modules/newmodmailpro.js
  extension/data/styles/macros.css
  extension/data/tbhelpers.js
  extension/manifest.json
Labels: enhancement, module: macros

#502 add support for newmm join requests folder
  extension/data/modules/modbar.js
  extension/data/modules/notifier.js
  extension/data/tbcore.js
Labels: bug, module: notifier

#414 Use ratelimit handler for OAuth requests
  extension/data/background/.eslintrc.json
  extension/data/background/handlers/webrequest.js
  extension/data/background/ratelimiter.js
  extension/data/modules/modbutton.js
  extension/data/modules/nukecomments.js
  extension/data/tbapi.js
  extension/data/tbcore.js
  extension/manifest.json
Labels: code quality

#439 Show ignored reports
  extension/data/modules/queuetools.js
  extension/data/tbapi.js
  extension/data/tbcore.js
Labels: enhancement, module: queuetools

#427 Promisify some stuff
  extension/data/modules/comment.js
  extension/data/modules/config.js
  extension/data/modules/domaintagger.js
  extension/data/modules/historybutton.js
  extension/data/modules/macros.js
  extension/data/modules/modbar.js
  extension/data/modules/modbutton.js
  extension/data/modules/modmailpro.js
  extension/data/modules/nukecomments.js
  extension/data/modules/personalnotes.js
  extension/data/modules/profile.js
  extension/data/modules/queuetools.js
  extension/data/modules/removalreasons.js
  extension/data/modules/usernotes.js
  extension/data/tbcore.js
  extension/data/tbmodule.js
Labels: code quality

#511 Add max retry logic to init getModSubs
  extension/data/tbcore.js
Labels: code quality, core: init

#510 Exempt initial requests from ratelimits
  .eslintrc.json
  extension/data/background/handlers/webrequest.js
  extension/data/background/ratelimiter.js
  extension/data/tbapi.js
  extension/data/tbcore.js
Labels: bug, core: background

#514 Make all requests except mass actions bypass ratelimits
  extension/data/background/ratelimiter.js
  extension/data/modules/modbutton.js
  extension/data/modules/nukecomments.js
  extension/data/tbapi.js
  extension/data/tbcore.js
Labels: bug, core: tbapi

#524 Hard disable ratelimiting
  extension/data/background/ratelimiter.js
Labels: core: background

#515 Avoid race conditions around ratelimit resets
  extension/data/background/ratelimiter.js
Labels: code quality

#517 Log errors when flairing users via mod button
  extension/data/modules/modbutton.js
Labels: bug, module: modbutton

#520 Enhance typing indicator & new message visibility
  extension/data/styles/newmodmailpro.css
Labels: enhancement, module: new modmailpro
