Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2021-03, with the labels that each got.

#462 Add type check when purifying parsed JSON values
  extension/data/tbstorage.js
Labels: bug, core: tbstorage

#466 Use a single, consistent popup close handler
  extension/data/modules/comment.js
  extension/data/modules/devtools.js
  extension/data/modules/domaintagger.js
  extension/data/modules/historybutton.js
  extension/data/modules/macros.js
  extension/data/modules/modbar.js
  extension/data/modules/modbutton.js
  extension/data/modules/newmodmailpro.js
  extension/data/modules/nukecomments.js
  extension/data/modules/personalnotes.js
  extension/data/modules/queuetools.js
  extension/data/modules/usernotes.js
  extension/data/tbmodule.js
  extension/data/tbui.js
Labels: bug, code quality, core: tbui

#465 Retry detection of new Reddit login if page isn't fully loaded
  extension/data/tbstorage.js
  extension/manifest.json
Labels: bug, core: tbstorage

#458 Changes to the flair selector
  extension/data/modules/modbutton.js
  extension/data/styles/toolbox.css
Labels: bug, enhancement, module: modbutton

#471 Fix modmail sending
  extension/data/modules/newmodmailpro.js
Labels: bug

#468 Improve request interface
  extension/data/background/handlers/webrequest.js
Labels: code quality, core: background

#437 Change `applications` manifest key to `browser_specific_settings`
  build.js
  extension/manifest.json
Labels: code quality
