Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2021-02, with the labels that each got.

#456 Only check/send ban fields for ban action
  extension/data/modules/modbutton.js
Labels: bug, module: modbutton

#454 Manually set modbutton user if not returned by API
  extension/data/modules/modbutton.js
Labels: bug, module: modbutton

#455 Split options for pruning deleted/suspended users
  extension/data/modules/usernotes.js
Labels: enhancement, module: usernotes

#460 Makes the mod button and usernotes button work on /about/banned
  extension/data/modules/modbutton.js
  extension/data/modules/usernotes.js
Labels: bug, module: modbutton, module: usernotes
