Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2022-12, with the labels that each got.

#680 User flair in macros
  extension/data/modules/config.js
  extension/data/modules/macros.js
Labels: enhancement, module: macros

#683 Rework inflate/deflate for pako@2
  extension/data/tbhelpers.js
  package-lock.json
  package.json
Labels: dependencies

#696 Proper text feedback when performing modnotes actions; create notes with enter key
  extension/data/modules/modnotes.js
Labels: enhancement, module: modnotes

#694 Pull snuownd from Github commit
  extension/data/libs/snuownd.js
  extension/data/modules/modmatrix.js
  extension/data/modules/removalreasons.js
  extension/data/tbhelpers.js
  package-lock.json
  package.json
Labels: dependencies

#698 Fix hbutton missing information
  extension/data/modules/historybutton.js
Labels: bug, module: historybutton
