Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2022-10, with the labels that each got.

#654 Fix color-scheme weirdness for removal reasons
  extension/data/styles/removalreasons.css
Labels: bug

#644 Add modnotes label selector
  extension/data/modules/modnotes.js
  extension/data/styles/modnotes.css
  extension/data/styles/tbui.css
Labels: enhancement, module: modnotes

#664 feat: options to unban in modmacros
  extension/data/modules/config.js
  extension/data/modules/macros.js
Labels: enhancement, module: macros

#659 #311 ignore reports
  extension/data/modules/queuetools.js
  extension/data/tbapi.js
Labels: enhancement, module: queuetools
