Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2022-09, with the labels that each got.

#608 Improvements to modbar module
  extension/data/modules/modnotes.js
  extension/data/styles/modnotes.css
  extension/data/tbui.js
Labels: enhancement, module: modnotes

#605 Add spam option to mod macros
  extension/data/modules/config.js
  extension/data/modules/macros.js
Labels: enhancement, module: macros

#603 Fix userDetails cache not set and used
  extension/data/tbapi.js
Labels: bug, core: tbapi

#599 Update modqueue caching to work with storage api
  extension/data/background/handlers/modqueue.js
Labels: enhancement, core: tbstorage

#613 Streamline modbar loading
  extension/data/modules/modbar.js
Labels: bug, module: modbar

#615 Prepare notifications for manifest v3
  extension/data/background/handlers/notifications.js
  extension/data/modules/notifier.js
  extension/manifest.json
Labels: core: background

#616 Convert background page to es6
  extension/data/background/.eslintrc.json
  extension/data/background/handlers/cache.js
  extension/data/background/handlers/globalmessage.js
  extension/data/background/handlers/modqueue.js
  extension/data/background/handlers/notifications.js
  extension/data/background/handlers/reload.js
  extension/data/background/handlers/url_changed.js
  extension/data/background/handlers/webrequest.js
  extension/data/background/index.js
  extension/data/background/messageHandling.js
  extension/data/background/ratelimiter.js
  extension/manifest.json
  rollup.config.js
Labels: core: background, code quality

#617 export modbarExists promise
  extension/data/modules/modbar.js
  extension/data/modules/personalnotes.js
Labels: bug, module: personalnotes, module: modbar

#623 Add release build script and dependabot config
  .github/dependabot.yml
  CONTRIBUTING.md
  package.json
Labels: meta

#629 Save cross-env to package.json
  package-lock.json
  package.json
Labels: bug, meta, dependencies

#630 Delete build directory before building
  package-lock.json
  package.json
Labels: meta

#631 Manifestv3 mod subs improvements & cache rewrite to do away with timers.
  extension/data/background/handlers/cache.js
  extension/data/modules/achievements.js
  extension/data/modules/betterbuttons.js
  extension/data/modules/comment.js
  extension/data/modules/config.js
  extension/data/modules/domaintagger.js
  extension/data/modules/macros.js
  extension/data/modules/modbar.js
  extension/data/modules/modbutton.js
  extension/data/modules/modmailpro.js
  extension/data/modules/modnotes.js
  extension/data/modules/nukecomments.js
  extension/data/modules/oldreddit.js
  extension/data/modules/personalnotes.js
  extension/data/modules/profile.js
  extension/data/modules/queuetools.js
  extension/data/modules/removalreasons.js
  extension/data/modules/usernotes.js
  extension/data/tbcore.js
  extension/data/tbmodule.js
  extension/data/tbstorage.js
Labels: core: tbstorage, code quality

#636 Remove remaining uses of window._TBCore
  extension/data/init.js
  extension/data/tbcore.js
Labels: code quality, core: init

#637 Remove ratelimiter, make all requests via fetch
  extension/data/background/handlers/webrequest.js
  extension/data/background/ratelimiter.js
  extension/data/tbapi.js
Labels: core: background, code quality

#632 setup manifest v3 for chrome
  extension/chrome_manifest.json
  extension/firefox_manifest.json
  package-lock.json
  package.json
  release.mjs
  rollup.config.js
Labels: enhancement, meta, blocked

#641 Add default tab setting for modnotes
  extension/data/modules/modnotes.js
  extension/data/tbui.js
Labels: enhancement, module: modnotes

#642 Fixed an apostrophe
  extension/data/modules/config.js
Labels: module: config, nit

#643 Clean up eslint and gitattributes
  .eslintrc.json
  .gitattributes
  extension/data/modules/config.js
Labels: code quality, meta

#653 Fix for faulty reddit color-scheme implementation
  extension/data/styles/tbui.css
  extension/data/styles/toolbox.css
Labels: bug
