Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2022-08, with the labels that each got.

#408 Improve startup performance
  extension/data/modules/config.js
  extension/data/modules/domaintagger.js
  extension/data/modules/personalnotes.js
  extension/data/modules/trouble.js
  extension/data/modules/usernotes.js
  extension/data/tbapi.js
  extension/data/tbcore.js
  extension/data/tbui.js
Labels: code quality

#577 Correct usernotes for faulty third party implementation.
  extension/data/modules/usernotes.js
Labels: module: removalreasons, issue with third party

#584 module init is async; await before listener start
  extension/data/tbmodule.js
Labels: bug, core: tbmodule

#585 don't resolve init until listeners are added
  extension/data/modules/usernotes.js
Labels: bug, module: usernotes

#566 Modnotes support
  extension/data/init.js
  extension/data/modules/modnotes.js
  extension/data/styles/modnotes.css
  extension/data/tbapi.js
  extension/manifest.json
Labels: enhancement

#586 Only emit URL change events after module load
  extension/data/init.js
  extension/data/tbcore.js
Labels: bug, core: tbmodule

#589 Fix broken mod notes label display
  extension/data/modules/modnotes.js
Labels: bug, module: modnotes

#594 Re-add max retry logic to mod sub retrieval
  extension/data/tbcore.js
Labels: bug, core: init

#593 Reimplement overwritten fixes for #507
  extension/data/tbcore.js
Labels: bug

#600 Replace old Module.setting() calls and clean up some other setting access
  extension/data/modules/betterbuttons.js
  extension/data/tbmodule.js
Labels: bug, code quality
