Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2023-08, with the labels that each got.

#794 Fix timestamp display in usernotes manager
  extension/data/modules/usernotes.js
Labels: bug, module: usernotes

#795 Refactor TBui.overlay() to take an options object
  extension/data/modules/comment.js
  extension/data/modules/config.js
  extension/data/modules/devtools.js
  extension/data/modules/profile.js
  extension/data/modules/queue_overlay.js
  extension/data/modules/usernotes.js
  extension/data/tbmodule.js
  extension/data/tbui.js
Labels: core: tbui, code quality

#799 Fix modnotes parent ID caching
  extension/data/modules/modnotes.js
Labels: bug

#800 Include inline sourcemaps in dev
  extension/chrome_manifest.json
  extension/firefox_manifest.json
  rollup.config.js
Labels: code quality

#803 Fix most settings tabs not displaying correctly
  extension/data/tbmodule.js
Labels: bug, core: tbmodule

#806 fix selector for adding join date to sidebar
  extension/data/modules/profile.js
Labels: bug, module: profile

#809 Modnotes: Fetch *all* of them
  extension/data/modules/modnotes.js
  extension/data/tbapi.ts
  extension/data/tbhelpers.js
  extension/data/tbui.js
  package-lock.json
  package.json
Labels: bug, core: tbui, module: modnotes

#810 Typescript conversion: TBLog, TBConstants
  extension/data/init.ts
  extension/data/modules/syntax.js
  extension/data/tbapi.ts
  extension/data/tbconstants.ts
  extension/data/tbcore.js
  extension/data/tblistener.js
  extension/data/tblog.ts
  extension/data/tbmodule.js
  extension/data/tbstorage.js
  extension/data/tbui.js
Labels: code quality

#820 Handle null or undefined last backup
  extension/data/tbmodule.js
Labels: bug, core: tbmodule
