Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2023-07, with the labels that each got.

#760 Display context links in modnotes
  extension/data/modules/modnotes.js
  extension/data/tbapi.js
  extension/data/tbhelpers.js
Labels: enhancement, module: modnotes

#773 Fix Modmail Macro Select
  extension/data/modules/macros.js
Labels: bug, module: macros

#775 Fix modmail sidebar button placement
  extension/data/modules/oldreddit.js
  extension/data/styles/toolbox.css
  extension/data/tblistener.js
Labels: bug, module: oldreddit

#778 Always use ISO date format in <time datetime>
  extension/data/modules/usernotes.js
Labels: bug, module: usernotes

#779 Add CI workflow for publishing to stores
  .github/workflows/publish.yml
Labels: meta

#780 Timeago helper function
  extension/data/modules/comment.js
  extension/data/modules/devtools.js
  extension/data/modules/modbutton.js
  extension/data/modules/modnotes.js
  extension/data/modules/profile.js
  extension/data/modules/queuetools.js
  extension/data/modules/usernotes.js
  extension/data/tbui.js
Labels: code quality

#781 Use upstream FF publish action since my changes were merged
  .github/workflows/publish.yml
Labels: code quality, meta

#792 Remember user-selected action when retrying comment nuke
  extension/data/modules/nukecomments.js
Labels: bug, module: commentnuke
