Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2023-01, with the labels that each got.

#711 Remove english-only text from highlight match selector
  extension/data/modules/queuetools.js
Labels: bug, module: queuetools

#710 Fix highlighted text extending too far
  extension/data/tbplugins.js
Labels: bug, module: queuetools

#707 Fix author button order
  extension/data/styles/toolbox.css
Labels: bug

#697 Fix regression issue with personal notes wiki case
  extension/data/modules/personalnotes.js
Labels: bug, module: personalnotes

#692 Rewrite link domains in post/comment bodies
  extension/data/tbui.js
Labels: bug, core: tbui, module: profile

#702 Add setting for default label for new modnotes
  extension/data/modules/modnotes.js
Labels: enhancement, module: modnotes
