Repository toolbox-team/reddit-moderator-toolbox, pull requests merged in 2024-12, with the labels that each got.

#1020 React 19
  extension/data/components/controls/ActionButton.tsx
  extension/data/components/controls/ActionSelect.tsx
  extension/data/components/controls/BracketButton.tsx
  extension/data/components/controls/GeneralButton.tsx
  extension/data/components/controls/NormalInput.tsx
  extension/data/modules/modnotes.jsx
  package-lock.json
  package.json
Labels: dependencies

#1025 Update modbar.js because new.reddit is dead
  extension/data/modules/modbar.js
Labels: bug, core: modbar

#1028 remove new reddit platform handling
  README.md
  extension/data/init.ts
  extension/data/modules/comment.js
  extension/data/modules/macros.js
  extension/data/modules/queue_overlay.js
  extension/data/tbcore.js
  extension/data/util/platform.ts
Labels: platform: new, feature deletion
